#root {
  width: 100%;
  height: 100dvh;
  text-align: center;
}

.app {
  width: 100%;
  height: 100%;

  padding: 50px;

  background-color: #282c34;
}

.boid-container {
  width: 600px;
  height: 600px;

  margin: 0 auto;

  background-color: #61dafb;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;

  margin-top: 20px;
}
